.h1prod{
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
}
.produitArticle{
    width: 90%;
    height: auto;
    border: 0.5px solid lightgrey;
    box-shadow: 2px 2px 10px lightgrey;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
    & figure{
        display: flex;
        & .produitImg {
            width: 40%;
            height: auto;
            border-right: 1px solid lightgray;
        }
    }
}
.produitFigcap{
    width: 60%;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    & h2 {
        font-size: 30px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        & i{
            color: red;
        }
    }
    & .colProduit {
        font-size: 20px;
        margin-top: 20px;
    }
    & .qteprix{
        display: flex;
        font-weight: bold;
        font-size: 20px;
        & .qte {
            width: 50%;
        }
        & .produitPrix{
            width: 50%;
            display: flex;
            justify-content: flex-end;            
            margin-right: 10px;
        }
    }
}
#sommeTotal{
    margin-top: 30px;
    margin-right: 30px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}
form{
    border: 0.5px solid lightgrey;
    box-shadow: 2px 2px 10px lightgrey;
    border-radius: 20px;
    width: 480px;
    margin: auto;    
    margin-top: 100px;
    margin-bottom: 30px;
    & label{
        font-size: 20px;
        margin-top: 20px;
        margin-left: 20px;
        border-bottom: 1px solid darkgray;
    }
    & input{
        font-size: 20px;
        width: 300px;
        display: flex;
        margin-left: 80px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    & .bouton{
        font-size: 20px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 140px;
        height: 30px;
        background: linear-gradient($color-secondary, $color-primary);
        border-radius: 20px;
        border: none;
        font-weight: bold;
        justify-content: center;
        &:hover{
            opacity: 0.8;
        }
    }
}
@media screen and (max-width: 768px) {
    .h1prod{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .produitFigcap{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        & h2 {
            font-size: 15px;
        }
        & .colProduit {
            font-size: 12px;
            margin-top: 10px;
        }
        & .qteprix{
            display: flex;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 12px;
            & .qte{
                width: 50%;
                margin-right: 10px;
            }
            & .produitPrix{
                width: 50%;
                margin-right: 0;
            }
        }
    }
    #sommeTotal{
        font-size: 20px;
        margin-right: 20px;
    }
    form{
        width: 310px;
        margin-top: 30px;
        margin-bottom: 30px;
        & label{
            font-size: 15px;
            margin-top: 20px;
            margin-left: 20px;
        }
        & input{
            font-size: 15px;
            width: 230px;
            margin-left: 50px;
            margin-top: 10px;
        }
        & .bouton{
            font-size: 15px;
            width: 100px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .h1prod{
        font-size: 25px;
    }
    form{
        width: 450px;
        margin-top: 50px;
        margin-bottom: 30px;
        & label{
            margin-top: 20px;
            margin-left: 20px;
        }
        & input{
            margin-top: 10px;
        }
    }
}