.DivTed {
    border: 0.5px solid lightgrey;
    box-shadow: 2px 2px 10px lightgrey;
    border-radius: 30px;
    overflow: hidden;
    width: 95%;
    margin: 40px 2.5% 40px 2.5%;
}
.imgTed {
    display: flex;
    > img {
        width: 50%;
        border-right: 1px solid lightgray;
    }
}
.figcapTed {
    display: flex;
    flex-direction: column;
    & .titreetprixTed {
        display: flex;
        justify-content: space-between;
        margin: 30px 20px 20px 20px;
        font-size: 30px;
    }
    & .descripTed {
        margin: 0px 20px 50px 20px;
        font-size: 22px;
        height: auto;
    }
}
.listetbuttonTed {
    margin: 0px 10px 20px 10px;
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    & .ajoutpanier {
        margin-left: 0;
        margin-top: 0;
        border-radius: 30px;        
        width: 150px;
        height: 30px;
        font-size: 13px;
    }
    & form{
        width: 50%;
        font-weight: bold;
        border: none;
        box-shadow: none;
        border-radius: 0;
        margin-top: 0;
        margin-left: 0;
        & label{
            font-size: 18px;
            margin-top: 0px;
            margin-left: 0px;
            border-bottom: none;
            display: flex;
            height: 30px;
        }
        & select{
            width: 140px;
            font-size: 15px;
        }
    }
    & .qte {
        font-size: 18px;
        width: 40%;
        height: 30px;
    }
}
@media screen and (max-width: 768px) {
    .imgTed {
        width: 100%;
        flex-direction: column;
        > img {
            border-bottom: 1px solid lightgray;
            width: 100%;
        }
    }
    .figcapTed {
        width: 100%;
        & .titreetprixTed {
            & h1{
                font-size: 20px;
                font-weight: bold;
                margin-top: 0;
            }
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 20px;
        }
        & .descripTed {
            margin-bottom: 10px;
            font-size: 12px;
            width: 80%;
            margin: auto;
        }
    }
    .listetbuttonTed {
        flex-direction: column;
        margin-top: 10px;
        & .ajoutpanier {
            width: 120px;
            height: 30px;
            margin: auto;
            font-size: 12px;
        }
        & .qte {
            width: 40%;
            margin: auto;
            margin-bottom: 10px;
            font-size: 15px;
        }
        & form{
            width: 68%;
            margin: auto;
            margin-bottom: 10px;
            & label{
            font-size: 15px;
            }
            & select{
                width: 110px;
                font-size: 14px;
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .figcapTed {
        & .titreetprixTed{
            font-size: 25px;
        }
        & .descripTed {
            font-size: 15px;
        }
    }
    .listetbuttonTed {
        justify-content: space-between;
        & .ajoutpanier {
            width: 130px;
            height: 30px;
            font-size: 13px;
        }
        & form{
            width: 60%;
            & label{
            font-size: 16px;
            }
            & select{
                width: 100px;
                font-size: 14px;
            }
        }
    }
}
